<section class="contact">
  <h1><%= gettext "Welcome to the %{name}!", name: "Dashboard" %></h1>
  <p>Here you can access all of your Data.</p>

</section>
<button class="testbutton" put_flash>test</button>