<!DOCTYPE html>
<html lang="en">
  <head class>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Phynix", suffix: " · Dashboard" %>
    <link phx-track-static rel="dashboard" href={Routes.static_path(@conn, "/css/dashboard.css")} />

    <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Warning!</strong> This page is still under construction and may not work.
    </div>

    <strong><p class="title">Start working here:</p></strong>

    <body>
      <input type="checkbox" id="check1" class="toggle">
      <label for="check1">Learned Elixir?</label>
      <br />
      <input type="checkbox" id="check2" class="toggle">
      <label for="check2">Learned Phoenix?</label>
      <br />
      <input disabled checked type="checkbox" id="check3" class="toggle">
      <label for="check3">Drank some Coffee?</label>
    </body>

   <!-- <div class="loader"></div>
   <i class="fas fa-user"></i> -->
  </head>
  <body>
  </body>
</html>